* {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #202020;
  list-style: none;
  box-sizing: border-box;
}

/* scroll function -------------- */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* navbar------------------------------------------------- */

header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 100px; */
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #202020;
  font-size: 1.5rem;
  transition: 0.2s;
  width: 100px;
  text-decoration: none;
}

.dropdown {
  padding-block: 30px;
}
.dropdown .drop-a {
  width: 150px;
}

ul li:hover ul.dropdown {
  display: block;
}

.nav-bar ul li a:hover {
  color: #880f0a;
}

.nav-bar ul li a.active {
  color: #880f0a;
}

ul li ul.dropdown li {
  display: block;
  padding-bottom: 30px;
  padding-left: 10px;
}

ul li ul.dropdown {
  width: 100%;
  background: white;
  position: absolute;
  z-index: 999;
  display: none;
  border-bottom: #202020 3px solid;
  width: 370px;
  border-left: #202020 3px solid;
}
@media (max-width: 900px) {
  /* navbar */
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #202020;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: white;
    transition: 0.2s;
    overflow: hidden;
    z-index: 10;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

.cv {
  background-color: #202020;
  border-radius: 15em;
  padding-inline: 6px;
}
.cv > a:nth-child(1) {
  color: white;
  text-align: center;
}

.cv:hover {
  background-color: #880f0a;
}
.cv > a:nth-child(1):hover {
  color: white;
}

.logo {
  max-width: 150px;
}

/* general------------------------------------------------- */
img {
  max-width: 100%;
  padding-block: 10px;
}
video {
  max-width: 100%;
}

h1 {
  margin-inline: 20px;
  font-size: 4rem;
  padding-bottom: 30px;
}
h2 {
  font-size: 1.7rem;
  margin-left: 20px;
}

h3 {
  color: #880f0a;
  padding-block: 20px;
  margin-left: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-left: 20px;
}

.title-spacing {
  margin-top: 100px;
}

section {
  padding-block: 1.5rem;
}

/* section 1 ------------------------------------------------- */

.title img {
  max-width: 80%;
}
.title > h2:nth-child(2) {
  padding-left: 90px;
}

.title {
  padding-top: 40px;
}
.frontpage {
  margin: 20px;
}

.hide {
  display: none;
}
.show-text {
  display: block;
}

.skills {
  opacity: 70%;
}

/* section 2 ------------------------------------------------- */

.card {
  margin-block: 20px;
  margin-inline: 20px;
  border-radius: 0;
  box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.175);
  cursor: pointer;
}
.card:hover {
  opacity: 50%;
}

.card_title {
  padding: 8px;
  text-align: center;
  opacity: 80%;
}

#goals ul {
  list-style: none;
}
#goals ul > li {
  padding-block: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
#goals > ul:nth-child(2) > li:nth-child(1) {
  padding-top: 0;
}

/* animation maequee----------------------- */

.quote {
  text-align: center;
  opacity: 60%;
  /* padding-bottom: 50px;
  margin-inline: 40px; */
  font-size: 5rem;
}

.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 10s infinite linear;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* section 3+4 ------------------------------------------------- */

#about,
#contact,
#goals {
  padding-inline: 20px;
  margin-block: 9rem;
}

#about h2,
#contact h2,
#goals h2 {
  padding-bottom: 2.5rem;
}

#contact h3 {
  padding-bottom: 0;
  opacity: 80%;
}

.pictures {
  margin-inline: 0;
}

/* footer ------------------------------------------------- */

footer {
  background-color: #202020;
  padding-inline: 20px;
  padding-block: 4rem;
}
footer h2 {
  color: white;
  padding-top: 20px;
}
footer h3 {
  color: white;
  opacity: 70%;
  padding: 0;
  font-size: 1.3rem;
}
footer p {
  color: white;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a h3:hover {
  opacity: 100%;
}

.grafic_white {
  margin-top: 80px;
  margin-bottom: 40px;
}

/* digital drawing */
.digitaldrawing div {
  padding-block: 40px;
}

/* MEDIA Q IPAD ------------------------------------------------- */

@media (min-width: 580px) {
  .title img {
    max-width: 60%;
  }
  .title > h2:nth-child(2) {
    padding-left: 187px;
  }
  .skills {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .skills h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  /* ipad - section 2 ------------------------------------------------- */

  #my-work {
    display: flex;
  }

  /* ipad - section 3 + 4 ------------------------------------------------- */

  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #about p,
  #contact div {
    grid-column: 2;
  }
  #contact > div:nth-child(2) > h3:nth-child(1) {
    padding-top: 0;
  }

  .column-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ipad - footer ------------------------------------------------- */

  .grafic_white {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .sitemap {
    display: flex;
    justify-content: center;
  }
  .sitemap div {
    margin-inline: 10%;
  }

  /* digital drawing----------------------- */
  .digitaldrawing > h3:nth-child(2) {
    grid-column: 1;
  }

  .digitaldrawing > div:nth-child(3) {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .project-description p {
    grid-column: 2;
  }
  .project-description h3 {
    padding: 0;
  }
}

/* MEDIA Q DESKTOP ------------------------------------------------- */

@media (min-width: 1000px) {
  /* desktop - general ------------------------------------------------- */

  section {
    padding-block: 2rem;
  }
  /* desktop - navbar ------------------------------------------------- */

  .logo {
    max-width: 18%;
  }

  header {
    padding: 0 30px;
  }

  li {
    font-size: 1.5rem;
    padding-inline: 30px;
  }

  /* desktop - section 1 ------------------------------------------------- */

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .title {
    padding-block: 90px;
    padding-left: 70px;
  }
  .title > h2:nth-child(2) {
    padding-left: 159px;
  }
  .title img {
    max-width: 80%;
  }

  /* desktop - section 2 ------------------------------------------------- */

  /* desktop - section 3 + 4 ------------------------------------------------- */

  section {
    margin-inline: 112px;
  }

  /* desktop - footer ------------------------------------------------- */

  .grafic_white {
    width: 20%;
  }
}
